<!--
  Generated template for the UserDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content>

  <ion-navbar color="sub-header">
    <ion-title>Retour</ion-title>
  </ion-navbar>

  <ion-card>
    <ion-card-header>
      <img [src]="user.avatar" alt="">
      <ion-card-title>{{user.firstname}} {{user.lastname}}</ion-card-title>
      <hr>
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="currentSegment">
        <ion-segment-button value="informations">
          Informations
        </ion-segment-button>
        <ion-segment-button value="friends">
          Amis
        </ion-segment-button>
      </ion-segment>
      <div class="segment-container" [ngSwitch]="currentSegment">
        <div *ngSwitchCase="'informations'">
          <h2>Goûts</h2>
          <ul class="tastes">
            <li *ngFor="let taste of tastesPreview">{{taste}}</li>
          </ul>
          <a href="#" *ngIf="user.tastes.length > tastesPreview.length" (click)="expandTastes()" ion-button clear small>+ {{user.tastes.length - tastesPreview.length}} autres goûts</a>
          <div *ngIf="user.events.length > 0">
            <h2>{{user.firstname}} participe à...</h2>
            <ion-list>
              <ion-item *ngFor="let event of user.events" tappable (click)="gotoEvent(event)">
                <ion-thumbnail item-start>
                  <img [src]="event.image" alt="Finn avatar icon">
                </ion-thumbnail>
                <h2>{{event.name}}</h2>
                <h3><ion-icon name="calendar"></ion-icon> {{event.startDate | date: 'EEEE d MMMM y'}}</h3>
                <p>{{event.affluence}} personnes attendues</p>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div *ngSwitchCase="'friends'">
          <h2>Amis de {{user.firstname}}</h2>
          <ion-list>
            <ion-item *ngFor="let friend of user.friends" tappable (click)="gotoUserDetail(friend)">
              <ion-avatar item-start>
                <img [src]="friend.avatar" alt="Finn avatar icon">
              </ion-avatar>
              <h3>{{friend.firstname}} {{friend.lastname}}</h3>
              <h4>Aime: {{friend.randomTaste()}}</h4>
              <p>Participe à {{friend.events.length}} événements proches</p>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
