page-user-details {
  .scroll-content {
    background-color: #dbdbdb !important;
  }

  ion-card-header {
    text-align: center;

    img {
      width: 30vw;
      -webkit-border-radius: 30vw;
      -moz-border-radius: 30vw;
      border-radius: 30vw;
      display: inline-block;
    }
  }

  ion-card-content, .card-content {
    h2 {
      margin-bottom: 1rem !important;
      font-size: 2rem;
    }
  }

  ion-segment {
    margin-bottom: 16px;
  }

  ul.tastes {
    margin-top:5px;
    margin-bottom: 5px;
  }
}
