<ion-tabs color="header" tabsPlacement="top">
  <ion-tab [root]="tab1Root" tabTitle="Sorties" tabIcon="pint"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Carte" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Amis" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Planning" tabIcon="time"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Paramètres" tabIcon="menu"></ion-tab>
</ion-tabs>
