<ion-content padding>
  <div *ngIf="events.length > 0; else elseTemplate">
    <div *ngFor="let event of events; index as i">
      <event-card
        *ngIf="-1 === hiddenEvents.indexOf(event)"
        [event]="event"
        (go)="letsGoTo($event)"
        (open)="openDetails($event)"
        (hide)="hide($event)">
      </event-card>
    </div>
  </div>
  <ng-template #elseTemplate>
    <div style="display: flex; justify-content: center; align-items: center; height: calc(100vh - 66px)">
      <ion-title>
        Aucun nouvel événement pour le moment <ion-icon name="sad"></ion-icon>
      </ion-title>
    </div>
  </ng-template>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="openCreateEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
