<ion-content>

  <!-- Accounts -->
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Comptes</ion-item-divider>
      <ion-item>
        <ion-avatar item-start>
          <img src="http://lorempicsum.com/futurama/40/40/2">
        </ion-avatar>
        <h2><b>Jeanne-Michelle Orga</b></h2>
        <p><b>Compte personnel.</b></p>
      </ion-item>
      <ion-item>
        <ion-avatar item-start>
          <img src="http://lorempicsum.com/futurama/40/40/3">
        </ion-avatar>
        <h2>Un Doua de Jazz</h2>
        <p>Compte organisateur.</p>
      </ion-item>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/plus.png">
        </ion-avatar>
        <!--<ion-icon name="add-circle" item-start large></ion-icon>-->
        <h2>Ajouter un compte</h2>
        <p>Associer un nouveau compte.</p>
      </ion-item>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/logout.png">
        </ion-avatar>
        <!--<ion-icon name="log-out" item-start large></ion-icon>-->
        <h2>Déconnexion</h2>
        <p>Vous devrez vous identifier à nouveau.</p>
      </ion-item>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/trash.png">
        </ion-avatar>
        <!--<ion-icon name="trash" item-start large></ion-icon>-->
        <h2>Supprimer le compte</h2>
        <p>Supprimer définitivement votre compte.</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Préférences</ion-item-divider>
      <ion-item tappable (click)="openTastes()">
        <ion-icon name="beer" item-start></ion-icon>
          Mes goûts
      </ion-item>
      <ion-item tappable (click)="openSchedule()">
        <ion-icon name="calendar" item-start></ion-icon>
          Mon emploi du temps
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
