<!-- vim: tabstop=8 expandtab shiftwidth=2 -->

<ion-content>
  <div id="map_canvas"></div>
  <ion-fab bottom left>
      <button ion-fab color="header"><ion-icon name="funnel"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab color="header"><ion-icon name="pin"></ion-icon></button>
        <button ion-fab color="header"><ion-icon name="beer"></ion-icon></button>
      </ion-fab-list>
  </ion-fab>
</ion-content>
