page-history {

  ion-item-divider{
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
  }
}



/*
page-history {
  .vertical-center {
    justify-content: center;
    align-items: center;
  }

  .history-hour {
    text-align:right
  }

  .history-date-text {
    display: inline-block;
    text-align: center;
  }

  .left-border {
    border-left: solid #000;
    border-left-width: thin;
  }
  .no-padding {
    padding: 0px;
  }
}
*/
