<ion-content padding>

  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Événements à venir</ion-item-divider>
      <ion-item *ngFor="let evt of futureEvents" (click)="openDetails(evt)">
        <ion-thumbnail item-start>
          <img src={{evt.image}}>
        </ion-thumbnail>
        <h2>{{evt.name}}</h2>
        <h3>
          <ion-icon name="calendar"></ion-icon>
          {{evt.startDate | date: 'd MMMM y'}}
        </h3>
        <h3>
          <ion-icon name="time"></ion-icon>
          {{ evt.startDate | date:'EEEE H:mm' }}
        </h3>
        <p>{{evt.affluence}} personnes attendues</p>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">Événements passés</ion-item-divider>
      <ion-item *ngFor="let evt of pastEvents" (click)="openDetails(evt)">
        <ion-thumbnail item-start>
          <img src={{evt.image}}>
        </ion-thumbnail>
        <h2>{{evt.name}}</h2>
        <h3>
          <ion-icon name="calendar"></ion-icon>
          {{evt.startDate | date: 'd MMMM y'}}
        </h3>
        <p>{{evt.affluence}} personnes attendues</p>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
