<ion-content padding>
  <ion-searchbar (ionInput)="findFriend($event)" placeholder="Rechercher un ami..."></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let friend of friends" tappable (click)="getDetails(friend)">
      <ion-avatar item-start>
        <img [src]="friend.avatar" alt="Finn avatar icon">
      </ion-avatar>
      <h2>{{friend.firstname}} {{friend.lastname}}</h2>
      <h3>Aime: {{friend.randomTaste()}}</h3>
      <p>Participe à {{friend.events.length}} événements proches</p>
    </ion-item>
  </ion-list>
</ion-content>
