<ion-header>
</ion-header>

<ion-content>

  <ion-navbar color="sub-header">
    <ion-title>Créer un événement</ion-title>
  </ion-navbar>

	<ion-list padding>
		<ion-item>
			<ion-label floating>Nom</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Lieu</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>
		<ion-item ion-datepicker (ionChanged)="evtDate = $event" [min]="today" [okText]='Ok' [cancelText]='"Annuler"' [locale]='"fr-FR"'>
			<ion-label floating>Date</ion-label>
			<ion-input value="{{evtDate | date:'EEEE d MMMM'}}" type="text"></ion-input>
			<ion-icon item-end name="calendar"></ion-icon>
		</ion-item>
		<ion-item>
			<ion-label floating>Heure</ion-label>
  		<ion-datetime displayFormat="H:mm" pickerFormat="H mm"></ion-datetime>
			<ion-icon  item-end name="time"></ion-icon>
		</ion-item>
		<ion-item tappable (click)="getPicture()">
			<ion-label>Image</ion-label>
			<ion-icon item-end name="image"></ion-icon>
		</ion-item>
		<ion-item>
			<ion-label>Événement privé</ion-label>
			<ion-checkbox></ion-checkbox>
		</ion-item>
	</ion-list>
	<ion-row>
    <ion-col>
      <button ion-button clear color="danger" (click)="cancelEvent()"><ion-icon name="close"></ion-icon>&nbsp;Annuler</button>
    </ion-col>
		<ion-col>
      <button ion-button clear color="secondary" (click)="eventCreatedEvent()"><ion-icon name="checkmark"></ion-icon>&nbsp;Créer</button>
		</ion-col>
	</ion-row>
</ion-content>
