page-create {
  ion-col.col{
    text-align: center;
  }
}

ionic2-datepicker{
  .button {
    background-color: #de6358 !important;
  }

.datepicker-wrapper{
  .datepicker-header{
    color:white;
    background-color: #de6358 !important;

    .date-header{
      display:flex;
      flex-flow: column;
      text-align: center;
        .datepicker-day-of-month {
          font-size: 60px;
          font-weight: 700;
        }
        .datepicker-year, .datepicker-month {
          font-size: 14px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
    }
    .weekday-header{
        padding: 8px 10px;
        background-color: #dd3f2d !important;
        .weekday-title{
          font-weight: bold;
          text-align: center;
        }
    }
  }
}

.weekdays-row{
text-align:center;
}

.datepicker-calendar{

      .calendar-wrapper{

      .datepicker-date-col:hover {
        background-color: rgba(247, 64, 64, 0.5) !important;
        border-radius: 20px;
      }

      .datepicker-selected, .datepicker-temp {
        background-color: rgba(247, 64, 64, 1) !important;
        border-radius:20px;
      }

      .datepicker-temp {
          background-color: rgba(247, 64, 64, 0.5) !important;
          border-radius:20px;
      }

      .datepicker-mark {
        background-color: rgba(202, 157, 14, 1);
        border-radius:20px;
      }

      .datepicker-current {
        color: rgba(250, 250, 250, 1) !important;
        background-color: rgba(247, 64, 64, 1) !important;

        border-radius:20px;
      }

      .datepicker-disabled {
        color: rgba(170, 170, 170, 1)
      }

      .datepicker-disabled:hover {
        background-color: transparent;
        cursor: default
      }

      .calendar-cell {
        flex-flow:row wrap;
        text-align: center;

      }
    }
}
}
