page-schedule {

  table {
    border: 0;
    width: 100%;
    height: calc(100% - 40px);

    tr {
      border-top: 1px solid black;
      border-bottom: 1px solid black;

      td {
        border-left: 1px solid black;
        vertical-align: top;
      }
      :first-child {
        border-left: 0;
        padding-left: 5px;
      }
    }
    :last-child {
      border-bottom: 0;
    }

    .course {
      position: relative;
      top: 0;
      width: 85%;
      background-color: #ff765b;
      border: 1px solid white;
      box-shadow: 0 0 1px black;
      border-radius: 2px;
      margin: 2px auto;

      &.course-1 {
        height: 100%;
      }
      &.course-2 {
        height: 190%;
      }
      &.course-3 {
        height: 290%;
      }
      &.course-4 {
        height: 390%;
      }
      &.course-5 {
        height: 500%;
      }
      &.course-6 {
        height: 600%;
      }
      &.course-7 {
        height: 700%;
      }
      &.course-8 {
        height: 800%;
      }
      &.course-9 {
        height: 912%;
      }
      &.course-10 {
        height: 1015%;
      }
    }
  }
}
