event-card {
  ion-card {
    background-color: #585858 !important;
    //background-color: #ffffff !important;

    color: white !important;

    .shadow-wrapper {
      background-color: rgba(0, 0, 0, .4) !important;
      box-shadow: 0 0 10px rgba(0, 0, 0, .6);
      border-radius: 5px;
    }

    *:not(button) {
      background-color: transparent !important;
      color: white !important;
      //color: #000000 !important;
      text-shadow: 1px 1px 2px black;
      //font-weight: 600 !important;
    }

    .eventTitle {
      ion-label {
        margin-top: 20px;
        margin-bottom: 0 !important;

        ion-card-title {
          margin: 0 5px;
          padding: 0 5px;
          height: 100%;

          font-size: 2em;
          text-align: center;
        }
      }

      .recommendation {
        span {
          margin-left: 15px !important;
        }
      }
    }

    ion-card-content {

      .description {
        //padding: 10px;
        margin-bottom: 20px;
      }

      ion-grid {
        padding-bottom: 5px !important;

        ion-col {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
        }

        ion-item {

          min-height: 2em !important;

          &, .item-inner {
            padding-left: 0 !important;
            margin-left: 0 !important;
          }

          ion-label {
            margin-top: 5px !important;
            margin-bottom: 5px !important;
          }

          ion-icon {
            font-size: 1.3em !important;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
          }

          p {
            font-size: .8em !important;
          }
        }
      }

      .bottom-buttons {

        margin-top: 20px;

        button {
          height: 100% !important;
          width: 100%;
          margin: 0 !important;
          padding: 5px !important;
          padding-bottom: 8px !important;
          margin-bottom: -5px !important;
          //background-color: orange !important;

          &:hover {
            background-color: transparent !important;
            box-shadow: none;
          }
        }
      }

      .col {
        flex-wrap: nowrap;
        overflow: hidden;
      }
    }
  }
}
