<!-- Generated template for the EventCardComponent component -->
<ion-card
          [style.backgroundImage]="getPicture(event.image)">
  <div class="shadow-wrapper {{ getClassFromName(event.name) }}">

    <!-- Title -->
    <div class="eventTitle">
      <ion-item (click)="!subEvent && emitOpen(event)">
        <ion-card-title color="light">{{ event.name }}</ion-card-title>
      </ion-item>
      <div class="recommendation" *ngIf="event.attendees.length > 0 && rdmUser && !subEvent">
        <ion-item>
              <span>
                &rarr; <strong><i>{{rdmUser.firstname}} {{rdmUser.lastname}}</i></strong> participe à cet événement.</span>
        </ion-item>
      </div>
    </div>

    <!-- Content -->
    <ion-card-content>
      <!-- Description -->
      <p class="description" *ngIf="!subEvent">{{ event.description }}</p>

      <!-- Details -->
      <ion-grid>

        <!-- Event info -->
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="calendar" item-start></ion-icon>
              <p>{{ event.startDate | date:'d/MM/y' }}</p>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-icon name="time" item-start></ion-icon>
              <p>{{ event.startDate | date:'EEE H:mm' }}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="pin" item-start></ion-icon>
              <p>{{event.location.street}}</p>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-icon name="people" item-start></ion-icon>
              <p>{{event.affluence}} participants</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Bottom buttons -->
        <ion-row class="bottom-buttons">
          <!-- I'm going -->
          <ion-col>
            <button ion-button icon-left clear (click)="emitGo()">
              <ion-icon name="checkmark"></ion-icon>
              <span class="going-btn">J'y vais</span>
            </button>
          </ion-col>

          <!-- Not going -->
          <ion-col>
            <button ion-button icon-left clear (click)="emitHide()">
              <ion-icon name="close"></ion-icon>
              <span class="hide-btn">Masquer</span>
            </button>
          </ion-col>

          <!-- Show sub-events -->
          <ion-col *ngIf="!subEvent">
            <button ion-button icon-left clear (click)="emitOpen()">
              <ion-icon name="more"></ion-icon>
              <span class="details-btn">Détails</span>
            </button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </div>
</ion-card>
