<ion-header>
</ion-header>

<ion-content>

  <ion-navbar color="sub-header">
    <ion-title>{{ event.name }}</ion-title>
  </ion-navbar>

  <ion-card class="event-details">
    <img src="{{ event.image }}"/>

    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar" item-start></ion-icon>
            <p>{{ event.startDate | date:'d/MM/y' }}</p>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="time" item-start></ion-icon>
            <p>{{ event.startDate | date:'H:mm' }}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="pin" item-start></ion-icon>
            <p>{{event.location.street}}</p>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="people" item-start></ion-icon>
            <p>{{event.affluence}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="color-palette" item-start></ion-icon>
            <p>{{event.category.name}}</p>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item *ngIf="event.visibilityPublic">
          <ion-icon name="eye" item-start></ion-icon>
          <p>Public</p>
        </ion-item>
        <ion-item *ngIf="!event.visibilityPublic">
          <ion-icon name="eye-off" item-start></ion-icon>
          <p>Privé</p>
        </ion-item>
        </ion-col>
      </ion-row>
      <p>
        {{event.description}}
      </p>
      <!-- Bottom buttons -->
      <ion-row class="bottom-buttons" *ngIf="event.subEvents.length == 0 && -1 === loggedUser.events.indexOf(event)">
        <!-- I'm going -->
        <ion-col>
          <button ion-button icon-left clear (click)="mainEvtGo()">
            <ion-icon name="checkmark"></ion-icon>
            <span class="going-btn">J'y vais</span>
          </button>
        </ion-col>

        <!-- Not going -->
        <ion-col>
          <button ion-button icon-left clear (click)="hideEvt()">
            <ion-icon name="close"></ion-icon>
            <span class="hide-btn">Masquer</span>
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="bottom-buttons" *ngIf="-1 !== loggedUser.events.indexOf(event) && +event.startDate < now">
        <!-- Rate me ! -->
        <ion-col>
          <button ion-button icon-left clear (click)="(ratingShown && postRating()) || toggleRating()">
            <ion-icon name="star-outline"></ion-icon>
            <span class="going-btn" *ngIf="!ratingShown">Laisser un avis</span>
            <span class="going-btn" *ngIf="ratingShown">Poster l'avis</span>
          </button>
        </ion-col>

        <ion-item *ngIf="ratingShown">
          <ion-range min="0" max="5" [(ngModel)]="rating" pin="true" snaps="true">
            <ion-icon small range-left name="star-outline"></ion-icon>
            <ion-icon range-right name="star"></ion-icon>
          </ion-range>
        </ion-item>

      </ion-row>

      <div *ngIf="event.subEvents.length > 0">
        <ion-title>Sous-événements</ion-title>
      <ion-list>
        <event-card *ngFor="let subEvent of event.subEvents" [event]="subEvent" [subEvent]="true"></event-card>
      </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
