page-details {
  .scroll-content {
    background-color: #dbdbdb !important;
  }

  ion-card.event-details {
    background-color: #ffffff !important;
    color: black;

    img {
      max-height: 500px;
    }

    .eventTitle {
      ion-label {
        margin-top: 20px;
        margin-bottom: 0 !important;

        ion-card-title {
          margin: 0 5px;
          padding: 0 5px;
          height: 100%;

          font-size: 2em;
          text-align: center;
        }
      }

      .recommendation {
        span {
          margin-left: 15px !important;
        }
      }
    }

    .bottom-buttons {
      margin-top: 20px;

      button {
        height: 100% !important;
        width: 100%;
        margin: 0 !important;
        padding: 5px !important;
        padding-bottom: 8px !important;
        margin-bottom: -5px !important;
        //background-color: orange !important;

        &:hover {
          background-color: transparent !important;
          box-shadow: none;
        }
      }
    }

    .col {
      flex-wrap: nowrap;
      overflow: hidden;
    }

    ion-item, .item-inner {
      padding-left: 0 !important;
      margin-left: 0 !important;
    }

    .sub-event {
      background-color: #b6b6b6 !important;

      *:not(button) {
        //background-color: transparent !important;
        color: white !important;
        text-shadow: 1px 1px 2px black;
      }
    }
  }
}
