<ion-header>
</ion-header>


<ion-content>

  <ion-navbar color="sub-header">
    <ion-title>Mes goûts</ion-title>
  </ion-navbar>

  <ion-searchbar placeholder="Rechercher des goûts" [(ngModel)]="searchInput">
  </ion-searchbar>
  <ion-list padding>
    <ion-chip *ngFor="let userTag of userTags">
      <ion-label>{{userTag}}
	    <button ion-button clear color="dark" (click)="remove(userTag)">
   			<ion-icon name="close-circle"></ion-icon>
		</button>
	  </ion-label>
    </ion-chip>
  </ion-list>

  <ion-list>
	<div *ngFor="let tag of tags" >
   		<ion-item *ngIf="passesSearch(tag)" tappable (click)="add(tag)">
    	  {{tag}}
  		</ion-item>
	</div>
  </ion-list>

</ion-content>
